<section id="about" class="section about-section container">
  <div class="about-grid">
    <h1 class="about-title">Welcome to My Portfolio</h1>

    <h2 class="typewriter-line">
      <span class="static-text">Hello! I am</span>
      <span class="typewriter-text"></span>
    </h2>

    <p class="about-description">
      I’m a Computer Science graduate student passionate to learn a lot and build
      this portfolio into a more attractive, detailed and impressive showcase of my resume.
    </p>

    <p class="about-description">
      Away from the keyboard you’ll find me dancing my heart out or on a badminton court.
    </p>

    <div class="resume-icon-wrapper">
      <a href="assets/resume.pdf" target="_blank">
        <img src="assets/resume-icon1.png" alt="Resume" class="resume-icon" />
      </a>
    </div>
  </div>
</section>
