<section id="about" class="section container" style="background-color: var(--clr-bg-alt);">
  <div data-aos="fade-up">
  <div class="about-grid">
    <!-- <img src="assets/profile.jpg" alt="Profile photo" /> -->
    <div>
      <h2> Welcome to My Portfolio </h2>
      <p>
        Hello! This is Rushalle, I’m a Computer Science graduate student passionate to learn a lot and build this portfolio into a more attractive, detailed and impressive showcase of my resume.
      </p>
      <p>
        Away from the keyboard you’ll find me dancing my heart out or on a badminton court.
      </p>
      <div class="resume-icon-wrapper">
  <a href="assets/resume.pdf" target="_blank" rel="noopener noreferrer">
    <img src="assets/resume-icon1.png" alt="Resume Icon" class="icon-only" />
  </a>
</div>
    </div>
  </div>
  </div>
</section>
