<header class="site-header">
  <div class="container">
    <div class="logo">
      <img src="assets/logo1.svg" alt="Logo" class="logo-image" />
      <span>MyPortfolio</span>
    </div>
    <nav class="navbar">
  <a href="#about" class="nav-link">About</a>
  <a href="#education" class="nav-link">Education</a>
  <a href="#extracurricular" class="nav-link">Extracurricular</a>
  <a href="#projects" class="nav-link">Projects</a>
  <a href="#skills" class="nav-link">Skills</a>
  <a href="#contact" class="nav-link">Contact</a>

    <button class="theme-toggle" (click)="toggleTheme()" aria-label="Toggle Theme">
    🌓
  </button>
</nav>
