<header class="site-header">
  <div class="container">
    <div class="logo">
      <img src="assets/logo2.svg" alt="Logo" class="logo-image" />
      <span>MyPortfolio</span>
    </div>
    <nav class="navbar">
      <a href="#about" class="nav-link" [class.active]="activeSection === 'about'">About</a>
      <a href="#education" class="nav-link" [class.active]="activeSection === 'education'">Education</a>
      <a href="#extracurricular" class="nav-link" [class.active]="activeSection === 'extracurricular'">Extracurricular</a>
      <a href="#projects" class="nav-link" [class.active]="activeSection === 'projects'">Projects</a>
      <a href="#skills" class="nav-link" [class.active]="activeSection === 'skills'">Skills</a>
      <a href="#contact" class="nav-link" [class.active]="activeSection === 'contact'">Contact</a>
    </nav>
  </div>
</header>
