<section id="education" class="section container" style="background-color: var(--clr-bg-light);">
  <div data-aos="fade-up">
  <h2>Education</h2>

  <article class="edu-item">
    <div>
      <h3>M.S. Computer Science</h3>
      <p>State University of New York, Binghamton</p>
    </div>
    <span class="year">2023 – present</span>
  </article>

  <article class="edu-item">
    <div>
      <h3>B.Tech. Information Technology</h3>
      <p> Vellore Institute of Technology</p>
    </div>
    <span class="year">2019 – 2023</span>
  </article>
  </div>
</section>
